*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.chiled{
    border: 0px solid black;
    width:50%;
}
.parent{
    display: flex;
    width: 100%;
}

.container{
   float: left;
   margin-top: 2%;
   margin:10px;
}
.nav{
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
a{
    text-decoration: none;
    margin-right: 40px;
    color:black;
}
.first{
    margin-left: 30px;
}
.second{
  float: right;
}
.first:hover{
    background-color:rgb(203, 202, 202);
}
.second:hover{
    background-color:rgb(203, 202, 202);
}
h2{
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    font-weight: normal;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}
.body-content{
    margin-left: 25%;
    color: rgb(68, 68, 68);
    width: 50%;
    margin-top: 50px;
    word-spacing: 1px;
    text-align: center;
}
p{
    color: rgba(237, 41, 41, 0.866);
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.form-details{
    margin-top: 30px;
    text-align: center;
}
.user{
   box-sizing: border-box;
}
.user input{
    width: 60%;
    padding: 10px;
    background-color:white;
    font-weight: bold;
    border:1px solid rgb(219, 218, 218) ;
    margin-bottom: 20px;
    margin-top: 5px;
}
.user-login input{
    width: 60%;
    padding: 10px;
    background-color: rgb(85, 85, 85);
    border: none;
    color:white;
    font-size: 16px;
}

.user-login input:hover{
    color:white;
    background-color: rgb(192, 191, 191);
}
.field{
    color:black;
    margin-top: 40px;
    font-size: 16px;
}

.form-details p a{
    text-decoration: underline;
    
}
.form-details p a:hover{
    color:rgb(75, 147, 75);
}

@media only screen and (max-width: 768px) {
    .chiled{
        width: 100%;
    }
    .parent{
        flex-direction: column;
    }
    .body-content {
        margin-left: 0%;
        color: rgb(68, 68, 68);
        width: 100%;
        margin-top: 50px;
        word-spacing: 1px;
        text-align: center;
    }
    .user input{width: 90%;}
}
@media screen and (min-width:768px) and (max-width:1440px){
    .chiled{
        width: 100%;
    }
    .parent{
        flex-direction: row;
    
    }
}
@media screen and (min-width:1920px) and (max-width: 2560px) {
    .chiled{
        width:100%;
    }
    .parent{
        flex-direction: row;
    }
    .body-content{
        font-size: 26px;
    }
    .p{
        font-size: 26px;   
    }
    .user{
        font-size: 26px;
    }
    .user-login{
        font-size: 26px;
    }
    .field{
        font-size: 26px;
    }
    .first{
        font-size: 30px;
    }
    .second{
            font-size: 30px;
    
    }
}